
                            <section class="certification-section py-3">

                                <h3 class="text-uppercase resume-section-heading mb-4">Certifications</h3>

                                <ul class="list-unstyled resume-certification-list">
                                    {{ range .Site.Params.certification.list }}
                                    <li class="mb-3">
                                        <div class="resume-degree font-weight-bold">{{ .course }}</div>
                                        <div class="resume-degree-org text-muted">{{ .level }}</div>
                                        <div class="resume-degree-time text-muted">{{ .issued }}</div>
                                    </li>
                                    {{ end }}
                                </ul>

                            </section><!--//education-section-->
